.blogCard {
  width: 100%;
  border-radius: 1.2rem;
  background: #252525;
}

.blogCard img {
  width: 100% !important;
  height: auto;
  border-start-start-radius: 1.2rem;
  border-start-end-radius: 1.2rem;
}

.blogCard div {
  padding: 0.8rem;
  border-top: 3px solid var(--primary-border-color);
}

.blogCard h5 {
  font-size: 1.2rem;
}

.blogCard p {
  font-size: 1rem;
  color: #cac3c3;
}

@media screen and (max-width: 992px){
  /* .blogCard h5 {
    font-size: 1.2rem;
  }

  .blogCard p {
    font-size: 1.2rem;
  } */
}
