.sectionMainTitle {
  position: relative;
  text-align: center;
  margin-bottom: 8rem;
}

.sectionMainTitle h2,
.sectionMainTitle h3 {
  text-transform: uppercase;
  font-weight: 900;
  width: 100%;
}

.sectionMainTitle h2 {
  font-size: 10rem;
  letter-spacing: 2rem;
  color: rgb(39, 37, 37);
}

.sectionMainTitle h2::selection {
  background: var(--primary-bg-color);
  color: #000;
}

.sectionMainTitle::selection .sectionMainTitle h3 {
  background: none;
  color: rgba(0, 0, 0, 0);
}

/* .sectionMainTitle h3 span::selection{
    background: none;
    color: rgba(0, 0, 0, 0);
} */

.sectionMainTitle h3 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 767px) {
  .sectionMainTitle h2 {
    font-size: 7rem;
  }

  .sectionMainTitle h3 {
    font-size: 3.8rem;
  }
}

@media screen and (max-width: 575px) {
  .sectionMainTitle h2 {
    font-size: 6.7rem;
  letter-spacing: 1.5rem;
  }

  .sectionMainTitle h3 {
    font-size: 3.6rem;
    transform: translate(-50%, 10%);
  }
}
