.experienceCard {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 3.5rem;
}

.experienceCard .cardIcon {
  /* font-size: 2rem; */
}

.experienceCard .cardIcon button {
  font-size: 2rem;
  background: var(--primary-bg-color);
  border: none;
  padding: 0;
  border-radius: 50px;
  width: 5rem;
  height: 5rem;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.experienceCard .cardIcon hr {
  transform: rotate(90deg);
  margin-top: 2.2rem;
}

.experienceCard .cardContent button {
  background: #6b6666;
  color: var(--secondary-text-color);
  border-radius: 50px;
  padding: 5px 15px;
  border: none;
  text-align: center;
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
}

.experienceCard .cardContent h5 {
  color: var(--secondary-text-color);
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.experienceCard .cardContent p {
  font-size: 1.6rem;
  color: #cac3c3;
}

@media screen and (max-width: 767px) {
  .experienceCard .cardIcon button {
  font-size: 2.4rem;
  width: 5.6rem;
  height: 5.6rem;
}

  .experienceCard .cardContent button {
  font-size: 1.6rem;
}

  .experienceCard .cardContent h5 {
    font-size: 2.5rem;
  }
}
