.progressContainer {
  width: 100%;
  font-size: 1rem;

}

.progressContainer p{
  margin: 0;
  text-transform: uppercase;
}

.progressContainer .progressBar {
  background: #403b3b;
  flex: 1;
  border-radius: 5px;
}

.progressContainer .progressNumber{
  background: var(--primary-bg-color);
  border-radius: 5px;
  text-align: center;
}